
body {
  position: absolute;
  display: block;
  width: 1050px;
  left: 240px;
}

.Header {
  width: auto;
  height: 66px;
  left: 240px;
  top: 0px;

  /* background-color: #0ff;   */
}



.logo {
height: 66px;
float: left;
}

.button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background: #ffff;
}

.button:hover::before {
  border-bottom: 1px;

}

.button-form {
  display: table-cell;
  vertical-align: middle;

}

.header-button {
  height: 100%;
  width: 50%;
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: right;
}

.project-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}